.header {
  background-color: rgb(173, 36, 36);
  height:210px;
}
body {
  margin: 0em;
  }
h1 {
 margin: 0em;
} 
p4{
  background-color: tomato;
  }
p5{
  background-color: violet;
  float: right;
}
.promotion{
  display: flex;
  justify-content: center;
  margin: 10px;
}
p1{
  background-color: blue;
  width: 300px;
  height: 30px;
  text-align: center;
}
.wi{

  background-color: rosybrown;
  text-align: center;
  margin: 15px;
  width:90px;
  height:90px;
  display:flex;
  justify-content: space-between;
  align-items: center;

}
.mario{
  list-style-type:none;
  padding: 0em;
  display:flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:red;
  width: 350px;
  height:200px;
  margin:auto;
}
.as{
  background-color: thistle;
  width:200px;
}
.f{
  background-color: seagreen;
  height:300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
p3{
  background-color: turquoise;
  display: flex;
  justify-content: center;
}

.main_img {
  width: 100px;
  height: 70px;
  background: url('gazou/S__113180709.gif');
}
